/tictactoe/build/
/tictactoe/dist/
/ServerSide/ServerSide/nbproject/private/
/ServerSide/ServerSide/build/
/ServerSide/ServerSide/dist/
/tictactoe/nbproject/private/private.xml
# Ignore compiled files
*.class
*.jar

# Ignore log files
*.log

# Ignore build directories
/build/

# Ignore a specific file
config.ini
